		p.text {
			font-family:Arial, Helvetica, sans-serif;
			margin-bottom: 3px;
			vertical-align: top;
			text-align: justify;
			line-height: 1.2em;
			font-weight:normal;
			min-width:53px;
			font-size: 9pt;
			margin-top: -2px;
			color: red;
			text-shadow:black 1px 1px; 
		}		p.text2 {
			font-family:Arial, Helvetica, sans-serif;
			margin-bottom: 3px;
			vertical-align: top;
			text-align: middle;
			line-height: 1.2em;
			font-weight:normal;
			min-width:53px;
			font-size: 9pt;
			margin-top: -2px;
		}

		li {
			font-family:Arial, Helvetica, sans-serif;
			vertical-align: middle;
			text-align: justify;
			line-height: 1.5em;
			font-weight: bold;
			min-width:53px;
			font-size: 9pt;
			
		}

		a {
			font-family:Arial, Helvetica, sans-serif;
			vertical-align: middle;
			text-align: justify;
			line-height: 1.5em;
			font-weight: bold;
			min-width:53px;
			font-size: 9pt;
		
		}
		
	td {
			font-family:Arial, Helvetica, sans-serif;
			vertical-align: middle;
			text-align: middle;
			line-height: 1.5em;
			font-weight: bold;
			min-width:53px;
			font-size: 9pt;
	
	}
	
	
	
	td.text3 {
			font-family:Arial, Helvetica, sans-serif;
			vertical-align: middle;
			text-align: middle;
			line-height: 1.5em;
			font-weight: bold;
			min-width:53px;
			font-size: 9pt;
			color: red;
			text-shadow:black 1px 1px; 
	
	}

		body {
			background-color:transparent;
		}